<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="navbar">
    <div class="navbar-brand">TMS</div>
    <a href="{% url 'users:login' %}" class="nav-item">Login</a>
    <a href="{% url 'users:signup' %}" class="nav-item">Sign Up</a>
</div>

<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
<a href="{% url 'users:signup' %}">Sign up</a>

</body>
</html>
