{% extends "base.html" %}

{% block content %}

<h2>{% if form.instance.pk %}Edit Device{% else %}New Device{% endif %}</h2>
    <form method="post" id="edit-device-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

    <script>
        document.getElementById('edit-device-form').addEventListener('submit', function(event) {
            if (!confirm("Are you sure you want to exit and apply these changes?")) {
                event.preventDefault(); // Prevent form submission
            }
        });
    </script>

{% endblock %}
