{% extends "base.html" %}

{% block content %}
<h1>All Tickets</h1>
<table>
    <thead>
        <tr>
            <th>Ticket #</th>
            <th>Device</th>
            <th>Created Date</th>
            <th>Created By</th>
            <th>Comments</th>
            <th>Assigned To</th>
            <th>Resolved</th>
            <th>Expected Resolution Date</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.device }}</td>
            <td>{{ ticket.created_date|date:"Y-m-d H:i" }}</td>
            <td>{{ ticket.customer.username|default:"Deleted User" }}</td>
            <td>{{ ticket.comments}}</td>
            <td>{{ ticket.assigned_to.username|default:"Unassigned" }}</td>
            <td>{{ ticket.resolved}}</td>
            <td>{{ ticket.expected_resolution_date|date:"Y-m-d" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
