{% extends "base.html" %}

{% block content %}
<h2>My Tickets</h2>

{% if tickets %}
<table>
    <thead>
        <tr>
            <th>Ticket #</th>
            <th>Device</th>
            <th>Created Date</th>
            <th>Created By</th>
            <th>Comments</th>
            <th>Assigned To</th>
            <th>Expected Resolution Date</th>
            <th>Resolved</th>
            <th>Actions</th>
            {% if user.is_staff %}
            <th>Mark as resolved</th>
            {% endif %}
            
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.device }}</td>
            <td>{{ ticket.created_date|date:"Y-m-d H:i" }}</td>
            <td>{{ ticket.customer.username|default:"Deleted User" }}</td>
            <td>{{ ticket.comments}}</td>
            <td>{{ ticket.assigned_to.username|default:"Unassigned" }}</td>
            <td>{{ ticket.expected_resolution_date|date:"Y-m-d" }}</td>
            <td>{{ ticket.resolved}}</td>
            <td>
                <a href="{% url 'tickets:ticket_edit' ticket.id %}">Edit</a>
                {% if user.is_staff %}
                    <a href="{% url 'tickets:ticket_delete' ticket.id %}">Delete</a>
                    <td>
                        <form action="{% url 'tickets:resolve_ticket' ticket.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Resolve</button>
                    </form>
                </td>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No tickets available.</p>
{% endif %}

{% endblock %}


